<div class="container">
   
       
  <h1 class="hr"> Nouveautés</h1>
     <div fxLayout="row" fxLayoutGap="5%">
     
        <div class="col cart ">
          <img src="https://www.maxitoys.fr/media/catalog/product/cache/fcf6fde2aecaa3a19404630833ab6e02/1/4/14291377-14291377-mt_picture1-74183.jpg">
           
          <h3>Star Wars</h3>
          <p>20000 FCFA</p>
          <a href="" class="btn">Détail</a>
     
        </div>
     
         <div class="col cart ">
           <img src="http://www.leparisien.fr/resizer/tS6bFQuRT7SdyCGZXB3-Y53-l94=/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/32DCQBRRRNH6TF6SKVKPG3ZPSA.jpg">
          
           <h3>Bricollage</h3>
           <p>150000 FCFA</p>
           <a href=""  class="btn">Détail</a>
     
        </div>
     
          <div class="col cart ">
             <img src="assets/image.jpg">
        
             <h3>Malette Docteur</h3>
             <p>30000 FCFA</p>
            <a href="" class="btn">Détail</a>
     
          </div>
  
          <div class="col cart ">
              <img src="assets/im2.jpg">
      
               <h3>Electricité Expert</h3>
               <p>10000 FCFA</p>
               <a href="" class="btn">Détail</a>
     
          
          </div>
  
       </div>
       
    <a mat-button class="link">Voir Toute Notre Selection</a>
       
  

</div>

<div class="container part2">
   
       
  <h1 class="hr">Promotions</h1>
     <div fxLayout="row" fxLayoutGap="5%">
     
        <div class="col cart ">
          <img src="https://www.maxitoys.fr/media/catalog/product/cache/fcf6fde2aecaa3a19404630833ab6e02/1/4/14291377-14291377-mt_picture1-74183.jpg">
           
          <h3>Star Wars</h3>
          <p>20000 FCFA</p>
          <a href="" class="btn">Détail</a>
     
        </div>
     
         <div class="col cart ">
           <img src="http://www.leparisien.fr/resizer/tS6bFQuRT7SdyCGZXB3-Y53-l94=/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/32DCQBRRRNH6TF6SKVKPG3ZPSA.jpg">
          
           <h3>Bricollage</h3>
           <p>150000 FCFA</p>
           <a href=""  class="btn">Détail</a>
     
        </div>
     
          <div class="col cart ">
             <img src="assets/image.jpg">
        
             <h3>Malette Docteur</h3>
             <p>30000 FCFA</p>
            <a href="" class="btn">Détail</a>
     
          </div>
  
          <div class="col cart ">
              <img src="assets/im2.jpg">
      
               <h3>Electricité Expert</h3>
               <p>10000 FCFA</p>
               <a href="" class="btn">Détail</a>
     
          
          </div>
  
       </div>
       
    <a mat-button class="link">Voir Toute Notre Selection</a>
       
  

</div>

<div class="container part3">

  <h1 class="hr">Les Heros préfrés de nos enfants </h1>
 <div class="carousel">
  <owl-carousel-o [options]="customOptions">
	  <ng-template carouselSlide>
      <img src="https://www.bebegavroche.com/media/catalog/product/cache/1/thumbnail/1200x/040ec09b1e35df139433887a97daa66f/c/n/cnd-3138-coussin-spiderman-sm-2020-a.jpg" class="image-ronde" id="img" >
    <div class="overlay">
       
      <div class="titre">Spider-man</div>

    </div>
    </ng-template>  
	  <ng-template carouselSlide>
      <img src="https://bilder.fernsehserien.de/gfx/pics/1200/Star-Wars-Rebels-5.jpg" class="image-ronde" id="img">
      <div class="overlay">
       
        <div class="titre">Spider-man</div>
  
      </div>
    </ng-template>  
	  <ng-template carouselSlide>
      <img src="https://www.cdiscount.com/pdt2/0/3/3/4/1200x1200/mat0887961377033/rw/poupee-barbie-fashionistas-short-ecossais-aille.jpg"  id="img" class="image-ronde">
      <div class="overlay">
       
        <div class="titre">Spider-man</div>
  
      </div>
    </ng-template>  
	  <ng-template carouselSlide>
      <img src="assets/im2.jpg" id="img" class="image-ronde">
      <div class="overlay">
       
        <div class="titre">Spider-man</div>
  
      </div>
    </ng-template>
	  <ng-template carouselSlide><img src="assets/im2.jpg" id="img" class="image-ronde"></ng-template>  
	  <ng-template carouselSlide><img src="assets/im2.jpg" id="img" class="image-ronde"></ng-template>  
	  <ng-template carouselSlide><img src="assets/im2.jpg" id="img"class="image-ronde"></ng-template>  
	  <ng-template carouselSlide><img src="assets/im2.jpg" id="img"class="image-ronde"></ng-template>  
	  <ng-template carouselSlide><img src="assets/im2.jpg" id="img"class="image-ronde"></ng-template>    
	</owl-carousel-o>

   </div>


</div>

<div class="container part4" >

  <h1 class="hr">Nos Top Marques</h1>

<div fxLayout="row">

  

<div>
  <img src="https://www.toopty.net/img/cms/manufacturer_19.jpg" alt="">
</div>

<div>
  <img src="https://www.toopty.net/img/cms/manufacturer_18.jpg" alt="" id="image">
</div>
 
<div>
  <img src="https://www.toopty.net/img/cms/manufacturer_36.jpg" alt="" id="image">
</div>

<div>
  <img src="https://www.toopty.net/img/cms/15-logos_default.jpg" alt="" id="image">
</div>

<div>
  <img src="https://www.toopty.net/img/cms/13-logos_default.jpg" alt="" id="image">
</div>

<div>
  <img src="https://www.toopty.net/img/cms/manufacturer_29.jpg" alt="" id="image">
</div>

<div>

  <img src="assets/barbie.png"  width="177px"alt="" id="image">

</div>

<div>

  <img src="https://www.toopty.net/themes/toopty/img/man35.jpg" alt="" id="image">
</div>
 <div>
   <img src="https://www.toopty.net/themes/toopty/img/man-24.jpg" alt="" id="image">
 </div>

</div>
</div>


<div class="container part5">

   <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-evenly center">

    <div class="icon">
    <mat-icon >swap_horizontal_circle</mat-icon>
    <p>retour et<br> remboursement</p>
     </div>
     <div class="icon">
      <mat-icon >local_shipping</mat-icon>
      <p>livraison gratuite</p>
       </div>

       <div class="icon">
        <mat-icon >store</mat-icon>
        <p>retrait gratuit<br> en magasin</p>
         </div>

         <div class="icon">
          <mat-icon >phone_iphone</mat-icon>
          <p>Service Client</p>
          <h4>+21658749707</h4>
           </div>
      




   </div>
      




</div>